@media(max-width: 1009px){
    .contenedor{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .conte-info{
            width: 60%;

            
        }
    }
}